리스트 메소드

In [5]:
a = [1, 2, 3]

# len() 함수로 리스트에 저장된 데이터의 개수를 얻어온다.
print(len(a))
print('*' * 80)

# append(데이터) 메소드로 리스트의 맨 뒤에 데이터를 추가한다.
print(a)
a.append(4)
print(a)
print('*' * 80)

# insert(인덱스, 데이터) 메소드로 리스트의 특정 인덱스 위치에 데이터를 삽입한다.
a.insert(2, 5)
print(a)

3
********************************************************************************
[1, 2, 3]
[1, 2, 3, 4]
********************************************************************************
[1, 2, 5, 3, 4]

In [17]:
# sort() 메소드로 리스트에 저장된 데이터를 정렬할 수 있다.
# 별도의 설정을 하지 않으면 오름차순(문자열은 가나다순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
print('*' * 80)

b = ['d', 'b', 'a', 'c']
print(b)
b.sort()
print(b)
print('*' * 80)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort()
print(c)
print('*' * 80)

d = ['1', '010', '999', '50']
print(d)
d.sort()
print(d)
print('*' * 80)

e = [1, 'a', 2, 'b']
print(e)
# 정렬할 데이터가 저장된 리스트에 2가지 이상의 타입이 존재하면 에러가 발생된다
# e.sort() # 에러

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
********************************************************************************
['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']
********************************************************************************
['홍길동', '임꺽정', '장길산', '일지매']
['일지매', '임꺽정', '장길산', '홍길동']
********************************************************************************
['1', '010', '999', '50']
['010', '1', '50', '999']
********************************************************************************
[1, 'a', 2, 'b']

In [19]:
# sort() 메소드에 reverse 옵션 값을 True로 지정하면 내림차순(문자열은 다나가순)으로 정렬한다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort(reverse=True)
print(a)
print('*' * 80)

b = ['d', 'b', 'a', 'c']
print(b)
b.sort(reverse=True)
print(b)
print('*' * 80)

c = ['홍길동', '임꺽정', '장길산', '일지매']
print(c)
c.sort(reverse=True)
print(c)
print('*' * 80)

d = ['1', '010', '999', '50']
print(d)
d.sort(reverse=True)
print(d)
print('*' * 80)

[1, 5, 2, 3, 6, 4]
[6, 5, 4, 3, 2, 1]
********************************************************************************
['d', 'b', 'a', 'c']
['d', 'c', 'b', 'a']
********************************************************************************
['홍길동', '임꺽정', '장길산', '일지매']
['홍길동', '장길산', '임꺽정', '일지매']
********************************************************************************
['1', '010', '999', '50']
['999', '50', '1', '010']
********************************************************************************

In [21]:
# reverse=True가 기억나지 않으면 오름차순으로 정렬하고 reverse() 메소드를 실행하면 된다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
a.reverse()
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [22]:
# reverse=True가 기억나지 않고 reverse() 메소드도 기억나지 않는다면 [::-1]로 슬라이싱 하면 된다.
a = [1, 5, 2, 3, 6, 4]
print(a)
a.sort()
print(a)
a = a[::-1]
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [28]:
# sorted() 함수를 사용해도 리스트에 저장된 데이터의 정렬이 가능하다.
# sort() 메소드와 sorted() 함수의 차이점은 sort() 메소드는 메소드를 실행하는 리스트의 내용이 정렬된 결과로
# 수정되고 sorted() 함수는 정렬된 결과를 리턴하므로 내용이 수정되지 않는다.
a = [1, 5, 2, 3, 6, 4]
print(a)
print(sorted(a))
print(a)
print(sorted(a, reverse=True))
print(a)
a = sorted(a)
print(a)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
[1, 5, 2, 3, 6, 4]
[6, 5, 4, 3, 2, 1]
[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]