for

반복에 사용되는 변수에 리스트, 튜플, 딕셔너리, set에 저장된 데이터가 처음부터 마지막까지 차례대로 대입되며 반복한다.
***
for 변수 in 리스트 or 튜플 or 딕셔너리 or set:  
&nbsp;&nbsp;&nbsp;&nbsp;반복할 문장  
&nbsp;&nbsp;&nbsp;&nbsp;...

리스트와 함께 사용하는 for

In [1]:
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
print('*' * 80)

for i in a:
    print(i)
print('*' * 80)

for i in a[1:3]:
    print(i)

['홍길동', '임꺽정', '장길산', '일지매']
********************************************************************************
홍길동
임꺽정
장길산
일지매
********************************************************************************
임꺽정
장길산

튜플과 함께 사용하는 for

In [2]:
a = '홍길동', '임꺽정', '장길산', '일지매'
print(a)
print('*' * 80)

for i in a:
    print(i)
print('*' * 80)

for i in a[1:3]:
    print(i)

('홍길동', '임꺽정', '장길산', '일지매')
********************************************************************************
홍길동
임꺽정
장길산
일지매
********************************************************************************
임꺽정
장길산

딕셔너리와 함께 사용하는 for

In [3]:
a = {'apple': 1000, 'banana': 3500, 'melon': 20000, 'mango': 5000}
print(a)
print('*' * 80)

for key in a: # 딕셔너리 이름만 사용하면 딕셔너리이름.keys()를 실행한 것과 같다.
    print(key)
print('*' * 80)

for key in a.keys():
    print(key)
print('*' * 80)

for value in a.values():
    print(value)
print('*' * 80)

for value in a.items():
    print(value)

{'apple': 1000, 'banana': 3500, 'melon': 20000, 'mango': 5000}
********************************************************************************
apple
banana
melon
mango
********************************************************************************
apple
banana
melon
mango
********************************************************************************
1000
3500
20000
5000
********************************************************************************
('apple', 1000)
('banana', 3500)
('melon', 20000)
('mango', 5000)

In [4]:
# key 값을 이용해서 value 값 얻어오기
for key in a.keys():
    print(a.get(key))
print('*' * 80)

for key in a.keys():
    print(a[key])

1000
3500
20000
5000
********************************************************************************
1000
3500
20000
5000

In [5]:
# item 값을 이용해서 key, value 값 얻어오기
for item in a.items():
    print(item, item[0], item[1])
print('*' * 80)

for item in a.items():
    print('{}는(은) {:,}원 입니다.'.format(item[0], item[1]))
print('*' * 80)

for key, value in a.items():
    print('{}는(은) {:,}원 입니다.'.format(key, value))

('apple', 1000) apple 1000
('banana', 3500) banana 3500
('melon', 20000) melon 20000
('mango', 5000) mango 5000
********************************************************************************
apple는(은) 1,000원 입니다.
banana는(은) 3,500원 입니다.
melon는(은) 20,000원 입니다.
mango는(은) 5,000원 입니다.
********************************************************************************
apple는(은) 1,000원 입니다.
banana는(은) 3,500원 입니다.
melon는(은) 20,000원 입니다.
mango는(은) 5,000원 입니다.

set과 함께 사용하는 for

In [6]:
a = {'홍길동', '임꺽정', '장길산', '일지매'}
print(a)
print('*' * 80)

# set은 입력하는 순서와 실제 저장되는 순서가 다르지만 전체를 대상으로 반복 작업은 가능하다.
for i in a:
    print(i)
print('*' * 80)

# set은 입력하는 순서와 실제 저장되는 순서가 달라서 인덱싱과 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
for i in a[1:3]: # 에러
    print(i)

{'홍길동', '일지매', '장길산', '임꺽정'}
********************************************************************************
홍길동
일지매
장길산
임꺽정
********************************************************************************

TypeError: 'set' object is not subscriptable

enumerate() 함수는 인수로 지정된 리스트, 튜플, 딕셔너리, set의 인덱스와 데이터를 쌍으로 묶은 튜플을 리턴한다.

In [7]:
a = ['홍길동', '임꺽정', '장길산', '일지매']
print(a)
print(enumerate(a))
print(list(enumerate(a)))
print(list(enumerate(a))[0])
print('*' * 80)

for i in enumerate(a):
    print(i, i[0], i[1])
print('*' * 80)

for index, value in enumerate(a):
    print(index, value)

['홍길동', '임꺽정', '장길산', '일지매']
<enumerate object at 0x000001BBAEDD2AF8>
[(0, '홍길동'), (1, '임꺽정'), (2, '장길산'), (3, '일지매')]
(0, '홍길동')
********************************************************************************
(0, '홍길동') 0 홍길동
(1, '임꺽정') 1 임꺽정
(2, '장길산') 2 장길산
(3, '일지매') 3 일지매
********************************************************************************
0 홍길동
1 임꺽정
2 장길산
3 일지매

In [8]:
a = '홍길동', '임꺽정', '장길산', '일지매'
print(a)
print(enumerate(a))
print(list(enumerate(a)))
print(list(enumerate(a))[0])
print('*' * 80)

for i in enumerate(a):
    print(i, i[0], i[1])
print('*' * 80)

for index, value in enumerate(a):
    print(index, value)

('홍길동', '임꺽정', '장길산', '일지매')
<enumerate object at 0x000001BBAEE84168>
[(0, '홍길동'), (1, '임꺽정'), (2, '장길산'), (3, '일지매')]
(0, '홍길동')
********************************************************************************
(0, '홍길동') 0 홍길동
(1, '임꺽정') 1 임꺽정
(2, '장길산') 2 장길산
(3, '일지매') 3 일지매
********************************************************************************
0 홍길동
1 임꺽정
2 장길산
3 일지매

In [9]:
a = {'홍길동', '임꺽정', '장길산', '일지매'}
print(a)
print(enumerate(a))
print(list(enumerate(a)))
print(list(enumerate(a))[0])
print('*' * 80)

for i in enumerate(a):
    print(i, i[0], i[1])
print('*' * 80)

for index, value in enumerate(a):
    print(index, value)

{'홍길동', '일지매', '장길산', '임꺽정'}
<enumerate object at 0x000001BBAEDEF870>
[(0, '홍길동'), (1, '일지매'), (2, '장길산'), (3, '임꺽정')]
(0, '홍길동')
********************************************************************************
(0, '홍길동') 0 홍길동
(1, '일지매') 1 일지매
(2, '장길산') 2 장길산
(3, '임꺽정') 3 임꺽정
********************************************************************************
0 홍길동
1 일지매
2 장길산
3 임꺽정

In [10]:
a = {'apple': 1000, 'banana': 3500, 'melon': 20000, 'mango': 5000}
print(a)
print(enumerate(a))
print(list(enumerate(a)))
print(list(enumerate(a.keys())))
print(list(enumerate(a))[0])
print('*' * 80)

for index, key in enumerate(a.keys()):
    print(index, key)
print('*' * 80)

for index, value in enumerate(a.values()):
    print(index, value)
print('*' * 80)

for index, item in enumerate(a.items()):
    print(index, item)

{'apple': 1000, 'banana': 3500, 'melon': 20000, 'mango': 5000}
<enumerate object at 0x000001BBAEE84E58>
[(0, 'apple'), (1, 'banana'), (2, 'melon'), (3, 'mango')]
[(0, 'apple'), (1, 'banana'), (2, 'melon'), (3, 'mango')]
(0, 'apple')
********************************************************************************
0 apple
1 banana
2 melon
3 mango
********************************************************************************
0 1000
1 3500
2 20000
3 5000
********************************************************************************
0 ('apple', 1000)
1 ('banana', 3500)
2 ('melon', 20000)
3 ('mango', 5000)

zip() 함수는 서로 다른 데이터가 저장된 객체를 반복 가능한 형태로 묶는다.

In [11]:
a = ['java', 'python', 'spring']
b = [100, 95, 98]
print(zip(a, b))
print(list(zip(a, b)))
print('*' * 80)

for i in zip(a, b):
    print(i)
print('*' * 80)

for subject, score in zip(a, b):
    print(subject, score)

<zip object at 0x000001BBAEDB8808>
[('java', 100), ('python', 95), ('spring', 98)]
********************************************************************************
('java', 100)
('python', 95)
('spring', 98)
********************************************************************************
java 100
python 95
spring 98

In [12]:
java = [100, 85, 91]
python = [88, 97, 79]
spring = [65, 74, 63]

total = []
for j, p, s in zip(java, python, spring):
    total.append(j + p + s)
print(total)

[253, 256, 233]